##
## Velocity Template for logout flow's concluding view-state (no propagation)
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## logoutContext - context with SPSession details for logout operation
## multiRPContext - context with RelyingPartyContexts and possibly SP UI information from the metadata
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($activeIdPSessions = $logoutContext and !$logoutContext.getIdPSessions().isEmpty())
#set ($activeSPSessions = $logoutContext and !$logoutContext.getSessionMap().isEmpty())

#parse ("header.vm")

<main class="d-flex flex-md-row flex-column container-fluid justify-content-center" style="margin-top: 64px" id="content">
    <div class="d-flex flex-column col-lg-4 mt-5">
        <div class="card">
            <div class="card-body">

            #if ($activeIdPSessions)
                <h4 class="card-title">#springMessageText("idp.logout.cancelled", "Logout has been cancelled.")</h4>
            #elseif ($activeSPSessions)
                <p class="card-text">#springMessageText("idp.logout.local", "You elected not to log out of all the applications accessed during your session.")</p>
            #else
                <p class="card-text">#springMessageText("idp.logout.complete", "The logout operation is complete, and no other services appear to have been accessed during this session.")</p>
            #end
            
              <!-- If SAML logout, complete the flow by adding a hidden iframe. -->
              #if ( $profileRequestContext.getProfileId().contains("saml2/logout") )
                  <iframe style="display:none" src="$flowExecutionUrl&_eventId=proceed"></iframe>
              #end
            </div>
        </div>
    </div>
</main>

#parse ("footer.vm")