##
## Velocity Template for logout flow's starting view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## logoutContext - context with SPSession details for logout operation
## multiRPContext - context with RelyingPartyContexts and possibly SP UI information from the metadata
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($rpContext = $profileRequestContext.getSubcontext("net.shibboleth.idp.profile.context.RelyingPartyContext"))
#if ($rpContext)
#set ($rpUIContext = $rpContext.getSubcontext("net.shibboleth.idp.ui.context.RelyingPartyUIContext"))
#end
#set ($promptForIdP = $logoutContext and !$logoutContext.getIdPSessions().isEmpty())
#set ($promptForSP = $logoutContext and !$logoutContext.getSessionMap().isEmpty())

#parse ("header.vm")

<main class="d-flex flex-md-row flex-column container-fluid justify-content-center" style="margin-top: 64px" id="content">

    <div class="d-flex flex-column col-lg-4 mt-5">
        <div class="card">
            <div class="card-body">


            #if ($rpContext)
              <p class="card-text">#springMessageText("idp.logout.sp-initiated", "You have been logged out of the following service:")</p>
              <blockquote>
              #if ($rpUIContext)
                  $encoder.encodeForHTML($rpUIContext.getServiceName())
              #else
                  $encoder.encodeForHTML($rpContext.getRelyingPartyId())
              #end
              </blockquote>
              <br>
            #end
            
            #if ($promptForIdP or $promptForSP)
              <p class="card-text">#springMessageText("idp.logout.prompt", "Choose one of the following, or wait a few seconds for the default.")</p>
              <form id="propagate_form" method="POST" action="$flowExecutionUrl">
                
                  <p><button class="btn btn-primary" id="logout_local" type="submit" name="_eventId" value="local">#springMessageText("idp.logout.idponly", "Logout Locally")</button></p>
                  <p>#springMessageText("idp.logout.idponly.caption", "End your SSO session.")</p>
            #end

            #if ($promptForSP)
                  <p><button class="btn btn-primary" id="logout_propagate" type="submit" name="_eventId" value="propagate">#springMessageText("idp.logout.global", "Logout Globally")</button></p>
                  <p>#springMessageText("idp.logout.global.caption", "End your SSO session and attempt logout of services accessed during session.")</p>
                  <p>#springMessageText("idp.logout.contactServices", "If instructed, the system will attempt to contact the following services:")</p>
                  <ol>
                  #foreach ($sp in $logoutContext.getSessionMap().keySet())
                    #set ($rpCtx = $multiRPContext.getRelyingPartyContextById($sp))
                    #if ($rpCtx)
                      #set ($rpUIContext = $rpCtx.getSubcontext("net.shibboleth.idp.ui.context.RelyingPartyUIContext"))
                    #end
                    #if ($rpUIContext and $rpUIContext.getServiceName())
                      <li>$encoder.encodeForHTML($rpUIContext.getServiceName())</li>
                    #else
                      <li>$encoder.encodeForHTML($sp)</li>
                    #end
                  #end
                  </ol>
            #end

            #if ($promptForIdP)
                  <p><button class="btn btn-secondary button--secondary" id="logout_cancel" type="submit" name="_eventId" value="end">#springMessageText("idp.logout.cancel", "Cancel")</button></p>
                  <p>#springMessageText("idp.logout.cancel.caption", "Cancel logout and retain your SSO session.")</p>
            #end
            
            #if ($promptForIdP or $promptForSP)
              </form>
            #else
                <p><strong>#springMessageText("idp.logout.complete", "The logout operation is complete, and no other services appear to have been accessed during this session.")</strong></p>
                <!-- Complete the flow by adding a hidden iframe. -->
                <iframe style="display:none" src="$flowExecutionUrl&_eventId=proceed"></iframe>
            #end

            </div>
        </div>
    </div>
</main>

#parse ("footer.vm")